$color1: rgba(37, 18, 255, 1);
$color2: rgba(162, 154, 126, 1);
$color3: rgba(117, 156, 215, 1);
$color4: rgba(85, 66, 0, 1);
$color5: #0048b5;


@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: 'RAINYDAYS';
  /* Nom de la police */
  src: url('./font/RAINYDAYS.ttf') format('truetype');
  /* Chemin vers le fichier de police */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cocogoose';
  /* Nom de la police */
  src: url('./font/Cocogoose-Classic-ExtraBold-trial.ttf') format('truetype');
  /* Chemin vers le fichier de police */
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url('../../public/images/backgroudImage.webp');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-color: rgba(0, 0, 0, 0.5);
}

.messageAccueil,
.boxWiki,
.titleBand,
.btnLienNavUser {
  font-family: 'RAINYDAYS', sans-serif;
}