@import "./setting";


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
}

.form-title {
    text-align: center;
    margin-bottom: 2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.form-button {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border-radius: 5px;
}

.boxNav {
    display: flex;
    justify-content: space-around;

}

.boxWiki {
    font-size: 3rem;
    align-items: center;
    padding: 15px;
}

.boxWikiLiving {
    background-color: #759cd7;
}

.boxWikiLiving:hover {
    background-color: #759cd789;
}

.boxWikiMaterial {
    background-color: #a29a7e;
}

.boxWikiDecoration {
    background-color: #0048b5
}

.boxNav a {
    text-decoration: none;
    color: black;
}

.bandHeader {
    @include flexCenter;
    background-color: #0048b5;
    justify-content: space-between;

    .btnUserConnect {
        display: flex;
    }

    .btnUser {
        @include flexCenter;
        background-color: #759cd7;
        border-radius: 50%;
        width: 70px;
        font-size: 2.5rem;
        font-weight: bold;
        color: #534319;


    }

    .titleBand {
        font-size: 3rem;
        font-weight: bold;
    }
}

.btnLienNavUser {
    @include flexCenter;
    border-radius: 20px;
    height: 70%;
    font-size: 2rem;
    padding: 5px 50px;
    background: #759CD7;
    color: #534319;
    text-decoration: none;
    font-weight: bold;
}

.formAddProject {
    @include flexCenter;
    justify-content: space-around;
    margin-bottom: 20px;

    .titleAddProject {
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        display: flex;

        input {
            border-radius: 10px;
        }
    }
}

.blocStartComplete {
    display: flex;
}

.BlocChoixCuve {
    display: flex;
    flex-direction: column;

    .blocBtnFirst {
        display: flex;
        justify-content: space-around
    }
}

.titreChoixCuve {
    background-color: white;
    text-align: center;
    font-size: 2rem;
    color: #000000;
    padding: 10px 0px 10px 0px;
    width: 50%;
    margin: auto;
}

.titleTwo {
    margin-top: 20px;
}


.ChoixTypeCuve {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 30px;

    .choixCuve {
        margin-top: 15px;
        font-size: 1.5rem;
        padding: 15px;
        background-color: white;
        width: 200px;
    }

    .twoBtnChoix {
        display: flex;
        justify-content: space-around;

    }

    .choixCuve:hover {
        background-color: $color1;
        color: white;
    }

    .selected {
        background-color: $color1;
        color: white;
    }
}


.blocStartLeft {
    width: 40%;
}

.BlocInstruction {
    background-color: white;
    width: 40%;
    border-radius: 10px;
}

.headerStart {
    background-color: white;
    padding: 10px;
    font-size: 2rem;
    text-align: center;
    border-radius: 20px;
    margin: 20px 20px
}

.show {
    display: flex;
    color: white;
}

.sousMenuDecoration {
    justify-content: flex-start
}

.sousMenuMaterial {
    justify-content: center
}

.sousMenuLiving {
    justify-content: flex-end
}

.hide {
    display: none;
}

.btnSousMenu {
    margin-top: 10px;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
    margin-right: 10px;
}

.btnSousMenuLiving {
    background-color: $color5;
}

.btnSousMenuMaterial {
    background-color: $color2;
}

.btnSousMenuDecoration {
    background-color: $color3;
}

.product {
    font-size: 2rem;
    color: white;
}

th {
    color: white;
}

td {
    color: white;
}

.listeProduct {
    max-width: 100%;
}

.blocFicheProduct {
    display: flex;
    margin: 35px 40px;
    max-width: 100%;
    flex-wrap: wrap;
}

.ficheProduct {
    background-color: silver;
    margin-left: 30px;
    margin-right: 30px;
    width: 20%;
    margin-bottom: 20px;

    img {
        width: 100%;
    }

    .qtyProduct {
        background-color: #fff;
        width: 100px;
        border-radius: 10px;
    }
}

.titreCatViewProject {
    background-color: #ffffff8f;
    text-transform: capitalize;
    padding: 5px;
    margin-bottom: 0px;
    margin-top: 5px;


}

.titleViewProject {
    background-color: #ffffffc4;
    padding: 5px;
    font-size: 2.5rem;
    text-align: center;
}

.pageViewProject {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.blocRightView {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: flex-end;

    .instructionViewProject {
        background-color: #ffffffc4;
        width: 90%;
        height: 400px;
        margin-right: 65px;
    }

    .btnSuiteView {
        color: white;
        background-color: $color1;
        border-radius: 25px;
        text-decoration: none;
        font-weight: bold;
        padding: 5px 20px 5px 20px;
        width: 50%;
        margin-top: 20px;
        margin-right: 65px;
    }
}

.addProductPageView {
    margin-left: 65px;
    width: 50%;
    margin-right: 65px;
}

.blocAddView {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnAddProductView {
    color: white;
    background-color: $color1;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
}

.btnAddProductView:hover {
    text-decoration: none !important;
    color: white;
    border: solid 4px $color1;
    font-size: 1.1rem;
    transition: 50ms;
}

.nameProductViewProject {
    background-color: #ffffff49;
    padding: 5px;
    font-weight: bold;
    width: 250px;
    text-align: center;
    margin-top: 5px;
}

.blocProductView {
    display: flex;
}

.lienProductWiki {
    background-color: #ffffff4b;
    border-radius: 30px;
    width: 30px;
    text-align: center;
    font-weight: bolder;
    margin-left: 3px;
    margin-right: 3px;
    padding: 5px;
    margin-top: 5px;
}

.inputQty {
    width: 30px;
}

.blocViewQty {
    display: flex;
    margin-left: 50px;
    margin-top: 5px;
}

.inputAjustQty {
    background-color: #2512ff;
    color: white;
    font-weight: bold;
    width: 30px;
    text-align: center;
    padding: 2px;
    font-size: 1.2rem;
}

.qtyProductViewProject {
    background-color: #ffffff84;
    font-weight: bold;
    width: 30px;
    text-align: center;
    padding: 5px;
}

.deleteProductView {
    margin-top: 5px;
    background-color: #ffffff49;
    font-weight: bold;
    border: solid 2px #00000039;
}